<h1>Your Text Analysis</h1>

<h2>Number of Words:  <%= @numberofwords  %> </h2>

<h2>Vowels: <%= @vowels  %></h2>

<h2>Consonants: <%= @constants  %></h2>

<h2>Most Common Letter:<%= @commonletter %> used _____ times</h2>
